@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #f01326;
    --branco: #ec0c0c;
    --laranja: hsl(40, 91%, 48%);
    --azul-degrade: linear-gradient(97.54deg, #1b90dd 35.49%, #0d0d0e 165.37%);
    --fonte-principal: "Poppins";
    --azul: #1cd125;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}